h1{
    color: white;
    font-size: 52px;
    font-weight: 600;
    text-align: center;
    margin-top: 0;
}
.login-page{
    width: 360px;
    padding: 5% 0 0;
    margin: auto;
    margin-top: 5%;
}
.form{
    position: relative;
    z-index: 1;
    /* background: #ffffff; */
    background: rgba(71, 81, 128, 0.8);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 40px;
    text-align: center;
}
.form input{
    font-family: "Georgia";
    outline: 1;
    /* background: #f2f2f2; */
    width: 100%;
    border:0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button{
    font-family: "Georgia";
    text-transform: uppercase;
    outline: 0;
    background: #4caf50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}
.form button:hover,.form button:active{
    background: #43a047;
}
.form .message{
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 12px;
}
.form .message a{
    color: #4caf50;
    text-decoration: none;
}
.form .register-form{
    display: none;
}